<!DOCTYPE html>
<html>
  <head>
    <title>Legislative</title>

    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="/javascripts/global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
<!-- <script src="https://d3js.org/d3.v3.min.js"></script> -->
  </head>
  <body>

  <canvas id="myChart" width="400" height="400"></canvas>
  <script>
    var ctx = document.getElementById("myChart").getContext("2d");


    var data = [
      {
          value: 300,
          color:"#F7464A",
          highlight: "#FF5A5E",
          label: "Red"
      },
      {
          value: 50,
          color: "#46BFBD",
          highlight: "#5AD3D1",
          label: "Green"
      },
      {
          value: 100,
          color: "#FDB45C",
          highlight: "#FFC870",
          label: "Yellow"
      },
      {
          value: 40,
          color: "#949FB1",
          highlight: "#A8B3C5",
          label: "Grey"
      },
      {
          value: 120,
          color: "#4D5360",
          highlight: "#616774",
          label: "Dark Grey"
      }
    ];

     new Chart(ctx).PolarArea(data, {animation:true, animationSteps: 250});
</script>

    <h1>Legislative</h1>
    <p>Stay up to date on current bills hitting the house and senate floors</p>
    <div id="wrapper">
      <h2>BILL List</h2>
      <div id="billList">
        <table>
          <thead>
            <th>BillName</th>
            <th>Description</th>
            <th>Show</th>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </body>
</html>