<canvas id="chart" width="600" height="400"></canvas>

<!DOCTYPE html>
<html>
  <head>
    <title>Legislative</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="/javascripts/global.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
  </head>
  <body>
    <h1>Legislative</h1>
    <p>Stay up to date on current bills hitting the house and senate floors</p>
    <div id="wrapper">
      <h2>BILL List</h2>
      <div id="billList">

        // <script type="text/javascript">
        //   d3.select("body").append("p").text("New paragraph!");
        // </script>

        <table>
          <thead>
            <th>Bill Name</th>
            <th>Description</th>
            <th>Show</th>
          </thead>
          <tbody></tbody>
        </table>
      </div>
      <div id="billInfo">
        <h2>API Info</h2>
        <p><strong>Bill Id:</strong> <span id='billInforTitle'></span><br><strong>API JSON:</strong> <span id='billInforDescription'></span><br></p>
      </div>
    </div>


    <script>
      var chartData = [
        {
          label: 'Aging', 
          value: 2, 
          color: "#F7464A"
        }, 
        {
          label: 'Agriculture, Nutrition, and Forestry', 
          value: 9, 
          color: "#46BFBD"
        }, 
        {
          label: 'Appropriations', 
          value: 5, 
          color: "#FDB45C"
        }
      ];

      var chartOptions = {
        segmentShowStroke : false,
        animateScale : true
      }

      var chart = document.getElementById("chart").getContext("2d");
      new Chart(chart).PolarArea(chartData, chartOptions);

    </script>
      
  </body>
