<!DOCTYPE html>
<html>
  <head>
    <title>Legislative</title>
    <link rel="shortcut icon" href="../images/favicon.ico" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="/javascripts/global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
<!-- <script src="https://d3js.org/d3.v3.min.js"></script> -->
  </head>
  <body>
    <h1>Legislative</h1>
    <p>Stay up to date on current bills hitting the house and senate floors</p>
    <div id="wrapper">

      <canvas id="myChart" width="600" height="600"></canvas>
      <script>
        var ctx = document.getElementById("myChart").getContext("2d");

        $.ajax({
          type: 'GET',
          url: '/bills/bill_data'
        }).done(function(response){
          var bill_data = response;
          new Chart(ctx).PolarArea(bill_data, {animation:true, animationSteps: 250});
        });
      </script>

      <h2>BILL List</h2>
      <div id="billList">
        <table>
          <thead>
            <th>BillName</th>
            <th>Description</th>
            <th>Show</th>
          </thead>
          <tbody></tbody>
        </table>
      </div>

    </div>
  </body>
</html>