extends layout

block content
    h1= 'Legislative'
    p Stay up to date on current bills hitting the house and senate floors

    // Wrapper
    #wrapper

        // BILL LIST
        h2 BILL List
        #billList
            table
                thead
                    th BillName
                    th Description
                    th Show
                tbody
        // /BILL LIST      

    // /WRAPPER
