<h2><%=heading%></h2>
<h2><%=welcome%></h2>

 <!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>Legislative</h1>
    <p>Stay up to date on current bills hitting the house and senate floors</p>
    <!-- Wrapper-->
    <div id="wrapper">
      <!-- BILL LIST-->
      <h2>BILL List</h2>
      <div id="billList">
        <table>
          <thead>
            <th>BillName</th>
            <th>Description</th>
            <th>Show</th>
          </thead>
          <tbody></tbody>
        </table>
      </div>
      <!-- /BILL LIST-->
      <!-- API LIST-->
      <div id="billInfo">
        <h2>API Info</h2>
        <p><strong>Bill Id:</strong> <span id='billInforTitle'></span><br><strong>API JSON:</strong> <span id='billInforDescription'></span><br></p>
      </div>
      <!-- /API LIST       -->
    </div>
    <!-- /WRAPPER-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="/javascripts/global.js"></script>
  </body>
</html>