body {
  position: relative;
  margin: 0;
  padding: 0;
}

/* ********* *//* ********* */
/* *** CHART CONTAINERS *** */
.chart-containers {
  /*border: 2px dotted red;*/

  height: calc(100vh - 60px);
  margin: 0;
  padding: 5%;
}

#chart-1-container {

  background-color: grey;
}

#chart-2-container {

  background-color: #a2798f;

  padding: 0%;
}

#chart-3-container {

  background-color: #006699;
}

#chart-4-container {
  /*border: 2px dotted red;*/

  background-color: #a2798f;
}

#chart-5-container {
  background-color: #006699;
}


/* ********* *//* ********* */
/* ********* *//* ********* */



.details-button-right {
  /*border: 2px dotted red;*/

  position: relative;
  float: right;
}



#bill-list-container {
  display: block;
}

#bill-by-committee {
  /*border: 2px dotted red;*/
}



